/**/node_modules/
/.git/
/**/Thumbs.db
/**/*.DS_Store
/**/package-lock.json
/**/debug.log
.DS_Store
/.srv/*
/my-data/*
!/.srv/custom.ini
/theme/index.php
/theme/twentytwentyfour/*
/theme/twentytwentythree/*
/theme/twentytwentytwo/*
/plugin/index.php
/plugin/akismet/*
/plugin/hello.php
/plugin/*